/* font-family: "Roboto",
sans-serif; */




/* #region common */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.link {
    text-decoration: none;
    color: #2E2F42;
}
.link:hover,
.link:focus {
    text-decoration: none;
    color: #404BBF;
}

.link:active {
    color: #404BBF;
}

body {
    background-color: #fbfbfb;
    color: rgba(12, 12, 12, 0.7);
    font-family: 'Roboto', sans-serif;
}

ul,
ol {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}





/* #endregion common */

/* #region header */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1158px;
    padding: 0 15px;
    gap: 332px;
    margin: 0 auto;
}

.header-sect {
    border-bottom: 1px solid #e7e9fc;
}

nav {
    display: flex;
    align-items: center;
}
.main-address {
    text-decoration: none;
    font-style: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
    display: flex;
}
.accent {
    color: #2e2f42;
    text-transform: uppercase;
}
.page-nav {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.main-address {
    font-style: normal;
}

.adress-list {
        display: flex;
        gap: 40px;
}
.adress-list .link {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em
}

.adress-list .link:hover,
.adress-list .link:focus {
    color: #404BBF;
}

.link {
    padding: 24px 0;
}


/* #endregion header */

/* #region hero */
.hero {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/hero-background-opt.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

.hero-title {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
}

.hero-button {
    font-size: 16px;
    line-height: 1.5;
    background-color: #4D5AE5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;

}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* #endregion hero */

/* #region feature */


.feature-container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}


.feature {
    color: #2E2F42;
    background-color: #FFFFFF;
    padding: 120px 0;
    
}
.feature-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.feature-list h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
}
.feature-list p {
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.feature-list {
    display: flex;
    gap: 24px;
    
}

.feature-list-item {
    width: calc((100% - 72px) / 4);
    justify-content: space-around;
}

.feature-h {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.feature-p {
    width: 264px;
    height: 104px;
}

.container-feature-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 24px 102px;
}

/* #endregion feature */

/* #region team */

.team {
    color: #2E2F42;
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-li {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    
}

.team-container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list img {
    display: block;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-container-list {
    padding: 32px 0;
}

.team img {
    object-fit: cover;
}

.team-list h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px
}
.team-list p {
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}


/* #endregion team */

/* #region portfolio */



.portfolio {
    background-color: #ffffff;
    color: #2e2f42;
    padding: 120px 0;
    height: 1240px;
}

.portfolio-container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    gap: 48px 24px;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.portfolio-list-item {
    background-color: #ffffff;
    width: calc((100% - 48px) / 3);
    box-sizing: border-box;
}

.portfolio-list img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.portfolio-list h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px  
}

.portfolio-list p {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.portf-container-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.container-team-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 8px;
}

.team-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    fill: #f4f4fd;
}






/* #endregion portfolio */

/* #region footer */
.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    height: 312px;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.accent-footer {
    color: #f4f4fd;
}
.link-site-footer {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-paragraph {
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
    width: 264px;
}
/* #endregion footer */