/* font-family: "Roboto",
sans-serif; */




/* #region common */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.link {
    text-decoration: none;
    color: #2E2F42;
}
.link:hover,
.link:focus {
    text-decoration: none;
    color: #404BBF;
}

.link:active {
    color: #404BBF;
}

body {
    background-color: #fbfbfb;
    color: rgba(12, 12, 12, 0.7);
    font-family: 'Roboto', sans-serif;
}

ul,
ol {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

button {
    font-family: inherit;
    cursor: pointer;
}





/* #endregion common */

/* #region header */

nav {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0 24px 156px;
}
.main-address {
    text-decoration: none;
    font-style: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.accent {
    color: #2e2f42;
    text-transform: uppercase;
}
.page-nav {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
}

.main-address {
    font-style: normal;
}

.adress-list {
        display: flex;
        gap: 40px;
        padding-right: 156px;
}
.adress-list .link {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em
}

.adress-list .link:hover,
.adress-list .link:focus {
    color: #404BBF;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* #endregion header */

/* #region hero */
.hero {
    background-color: #2E2F42;
}

.hero-container {
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 48px;
    padding: 188px 472px;
}

.hero-title {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
    margin: 0 auto;
}

.hero-button {
    font-size: 16px;
    line-height: 1.5;
    background-color: #4D5AE5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
    width: 169px;
    height: 56px;
    margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* #endregion hero */

/* #region feature */

.feature {
    color: #2E2F42;
    background-color: #FFFFFF;
    height: 344px;
}
.feature-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.feature-list h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
}
.feature-list p {
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.feature-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.feature-h {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    padding-top: 120px;
}

.feature-p {
        width: 264px;
        height: 104px;
}


/* #endregion feature */

/* #region team */

.team {
    color: #2E2F42;
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-li {
    background-color: #FFFFFF;
    width: 264px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
    text-align: center;
}
.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-li img {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: block;
    width: 100%;
    height: auto;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}


.team-list h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
}
.team-list p {
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.team-h {
    margin-top: 32px;
    margin-bottom: 8px;
}

.team-p {
    margin-bottom: 32px;
}

/* #endregion team */

/* #region portfolio */



.portfolio {
    background-color: #ffffff;
    color: #2e2f42;
    padding: 120px 0;
    height: 1240px;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    gap: 48px 24px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
}

.portfolio-list li {
    background-color: #ffffff;
    border: 1px solid #e7e9fc;
    width: calc((100% - 48px) / 3);
    box-sizing: border-box;
}

.portfolio-list img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.portfolio-list h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin: 32px 16px 8px 16px;
}

.portfolio-list p {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin: 0 16px 32px 16px;
}




/* #endregion portfolio */

/* #region footer */
.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    height: 312px;
    padding-left: 156px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.accent-footer {
    color: #f4f4fd;
}
.link-site-footer {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
}
.footer-paragraph {
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
    width: 264px;
}
/* #endregion footer */